<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Smoke Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" href="/home/barti/IdeaProjects/SpringBoot/src/main/resources/vendor/bootstrap.min.css">-->
</head>
<body>

<form action="#" th:action="@{/addUser}"
      th:object="${user}" method="post" role="form">

    <h2>Nowy użytkownik</h2>

    <!--<input type="text" th:field="*{id}" placeholder="Id" /><br /><br />-->

    <input type="text" th:field="*{username}" placeholder="Username" /><br /><br />

    <input type="text" th:field="*{hashPassword}" placeholder="Password" /><br /><br />

    <input type="text" th:field="*{firstName}" placeholder="First Name" /><br /><br />

    <input type="text" th:field="*{lastName}" placeholder="Last Name" /><br /><br />

    <input type="text" th:field="*{dateOfBirth}" placeholder="dateOfBirth" /><br /><br />

    <button type="submit" >Dodaj użytkownika</button>

</form>

</body>
</html>