<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
<table class="table table-striped table-hover" th:object="${groups}">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Group Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}" class="clickable-row" style="cursor: pointer">
            <td th:text="${group.id}"></td>
            <td ><a th:text="${group.groupName}" th:href="@{'/groups/show?groupId=' + ${group.id}}"></a></td>
            <td>
                <form action="/groups/delete" method="post">
                    <input type="hidden" name="groupId" th:value="${group.id}"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <form action="/groups/edit" method="get">
                    <input type="hidden" name="groupId" th:value="${group.id}"/>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
    </tr>
    </tbody>
</table>

<a href="/" class="btn btn-secondary">Back</a>
<a href="/users" class="btn btn-secondary">Users</a>
<a href="/groups/add" class="btn btn-primary">Add new group</a>
</div>
</body>
</html>