<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smoke Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" href="/home/barti/IdeaProjects/SpringBoot/src/main/resources/vendor/bootstrap.min.css">-->
</head>
<body>

<table border="1" style="width:300px" th:object="${groups}">
    <th:block th:object="${groups}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Group name</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table table-striped table-hover" th:each="group : ${groups}">
            <td th:text="${group.id}"></td>
            <td th:text="${group.groupName}"></td>
            <td>
                <form action="/deleteGroup" method="post">
                    <input type="hidden" name="groupId" th:value="${group.id}" />
                    <input type="submit" src="templates/trash_recyclebin_empty_closed.png" />
                </form>
            </td>
            <td>
                <form action="/editGroup" method="get">
                    <input type="hidden" name="groupId" th:value="${group.id}" />
                    <input type="submit" value="Edytuj" />
                </form>
            </td>
        </tr>
        </tbody>
    </th:block>

</table>

<form action="/addGroup" method="get">
    <input type="submit" value="Dodaj nową grupę" />
</form>

</body>
</html>